/*
style.css

by Eléonore Vaissaire
*/

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    height: 5%;
    margin: auto;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    font-size: small;
    background-color: aliceblue;
}



.banner_container{
    width: 90%;
    max-height: 800px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid grey;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
    margin: auto;
    margin-bottom: 10%;
}
.banner_slider{
    /*width: 100%s;
    margin: auto;*/
    overflow: hidden;
    position: relative;
    max-height: 800px;
    max-width: 1413px;
    top: auto;
    margin: auto;
}
#image_slider{
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    padding: 0px;
    margin: 0px;
}
#image_slider li{
    float: left;
    list-style: none;
}
.navigate{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 50px;
    opacity: 0.6;

}
.navigate:hover{
    opacity: 0.9;
}
#prev{
    background: #000 no-repeat center;
    left: 0px;
}
#next{
    background: #000 no-repeat center;
    right: 0px;
}



.flexbox{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.text_part{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 2%;
}
.header_intro{
    width: 100%;
}
.image_part{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#archi_img{
    width: 100%;
    height: 100%;
}
.years_experience{
    display: flex;
    justify-content: center;
    margin-top: 30%;
}
.element:nth-child(1){
    float: left;
    padding: 2%;
    border: 3px solid rgb(40, 40, 104);
    align-self: center;
    font-size: 100px;
    color: rgb(40, 40, 104);
}
.element:nth-child(2){
    padding: 2%;
    align-self: center;
    font-weight: bold;
    font-size: larger;
}


.latest_project{
    text-align: left;
    margin-left: 20%;
    margin-bottom: 3%;
}
.projects{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}
.picture:hover{
    opacity: 0.9;
}
.picture .text_img{
    position: relative;
    top: -20%;
}
.text_img{
    background: rgba(40, 40, 104, 0.5);
    text-align: center;
    color: white;
    padding: 2%;
}



.reviews{
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 5%;
    
}
.header_review{
    width: 100%;
}
.reviews_flexbox{
    display: flex;
    justify-content: center;
}
.quote{
    text-align: right;
    font-size: 50px;
}
.review{
    background-color: white;
    margin: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.news{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header_news{
    margin-left: 20%;
    margin-bottom: 3%;
}
.span_news{
    display: inline-flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
.news_container{
    width: 20%;
    border: 3px solid rgb(40, 40, 104);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 206, 245);
}
.news_container:hover{
    opacity: 0.3;
}



footer{
    flex-shrink: 0;
    margin-top: 100px;
    border-top: 1px dashed #000;
    width: 100%;
    background-color: aliceblue;
    color: #333;
}
.footer_content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}
.block_footer_services{
    width: 25%;
    margin: 0 30px;
}

footer h3{
    font-size: 25px;
    padding-bottom: 20px;
}
.list_media,
.list_services{
    list-style-type: none;
}
.list_services li{
    padding: 2px 0;
}
.list_media li{
    padding: 2px 0;
}

footer img{
    width: 20px;
    height: 20px;
}


/* Media queries */

@media screen and (max-width: 1300px){
    .footer_content{
        width: 700px;
        flex-wrap: wrap;
    }
    .block_footer_services{
        width: 40%;
        margin: 0 0;
    }
    .block_footer_services:nth-child(1),
    .block_footer_services:nth-child(2){
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .footer_content{
        width: 320px;
    }
    .block_footer_services{
        width: 300px;
        margin: 30px 30px;
    }
    .block_footer_services:nth-child(1),
    .block_footer_services:nth-child(2){
        margin-bottom: 30px;
    }
    .block_footer_services:nth-child(1){
        margin-top: 0;
    }
}